body {
	background-image: url("بک یاسی.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.profile {
	border-radius: 100%;
    margin: 0 auto;
	width: 400px;
	height: 400px;
	position: relative;
	margin-top: 70px;
}
.image {
	position: absolute;
	border-radius: 100%;
	width: 280px;
	height: 280px;
	margin-left: 43px;
	border: 10px solid #3d3e40;
}
.text-2 {
	text-align: center;
	font-size: 56px;
	font-weight: bold;
	color: #000;
	margin-top: 80px;
}
.main {
	position: relative;
	background-color: #beb2e4;
	width: 70%;
	height: 420px;
	margin: 0 auto;
	border-radius: 35px;
	margin-top: 100px;
}
.box {
	background-color: #3d3e40;
	border-radius: 35px;
	width: 83%;
	height: 92px;
	margin-top: 69px;
	margin-left: 65px;
}
.text {
	text-decoration: none;
	color: #d3cbf6;
	font-size: 46px;
	font-weight: bold;
	text-align: center;
}
.text-1 {
	text-align: center;
	color: #000;
	font-size: 65px;
	font-weight: bold;
	margin-top:30px;
}
.bio {
	text-align: center;
	font-size: 49px;
	color: #000;
	font-weight: 900;
}






















